[submodule "ssh"]
	path = ssh/.config/ssh
	url = git@github.com:roadmanict/ssh-config.git
[submodule "alacritty/rose-pine"]
	path = alacritty/.config/alacritty/rose-pine
	url = git@github.com:rose-pine/alacritty.git
[submodule "tmux/plugins/tmux"]
	path = tmux/.config/tmux/plugins/tmux
	url = https://git::@github.com/rose-pine/tmux
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/.config/tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
[submodule "zsh/.zprezto"]
	path = zsh/.config/zsh/.zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "wireguard"]
	path = wireguard
	url = git@github.com:roadmanict/wireguard-conf.git
[submodule "transaction-parser"]
	path = transaction-parser/.config/transaction-parser
	url = git@github.com:roadmanict/transaction-parser-config.git
[submodule "i3/.config/i3/rose-pine"]
	path = i3/.config/i3/rose-pine
	url = git@github.com:rose-pine/i3.git
[submodule "tmux/.config/tmux/plugins/vim-tmux-navigator"]
	path = tmux/.config/tmux/plugins/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
