[submodule "ssh"]
	path = ssh/.ssh/ssh_homelab_hosts
	url = git@github.com:roadmanict/ssh-config.git
[submodule "alacritty/rose-pine"]
	path = alacritty/.config/alacritty/rose-pine
	url = https://git::@github.com/rose-pine/alacritty.git
[submodule "tmux/plugins/tmux"]
	path = tmux/.config/tmux/plugins/tmux
	url = https://git::@github.com/rose-pine/tmux
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/.config/tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
[submodule "zsh/.zprezto"]
	path = zsh/.config/zsh/.zprezto
	url = https://git::@github.com/sorin-ionescu/prezto.git
[submodule "wireguard"]
	path = wireguard
	url = git@github.com:roadmanict/wireguard-conf.git
[submodule "transaction-parser"]
	path = transaction-parser/.config/transaction-parser
	url = git@github.com:roadmanict/transaction-parser-config.git
[submodule "i3/.config/i3/rose-pine"]
	path = i3/.config/i3/rose-pine
	url = https://git::@github.com/rose-pine/i3.git
[submodule "src/nvim"]
	path = src/nvim
	url = https://github.com/neovim/neovim.git
	shallow = true
[submodule "nvim-scm/.config/nvim-scm/pack/vendor/start/rose-pine"]
	path = nvim-scm/.config/nvim-scm/pack/vendor/start/rose-pine
	url = https://github.com/rose-pine/neovim.git
[submodule "nvim-scm/.config/nvim-scm/pack/vendor/start/nvim-lspconfig"]
	path = nvim-scm/.config/nvim-scm/pack/vendor/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim-scm/.config/nvim-scm/pack/vendor/start/mason.nvim"]
	path = nvim-scm/.config/nvim-scm/pack/vendor/start/mason.nvim
	url = https://github.com/mason-org/mason.nvim.git
[submodule "nvim-scm/.config/nvim-scm/pack/vendor/start/mason-lspconfig.nvim"]
	path = nvim-scm/.config/nvim-scm/pack/vendor/start/mason-lspconfig.nvim
	url = https://github.com/mason-org/mason-lspconfig.nvim.git
[submodule "nvim-scm/.config/nvim-scm/pack/vendor/start/nvim-treesitter"]
	path = nvim-scm/.config/nvim-scm/pack/vendor/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim-scm/.config/nvim-scm/pack/vendor/start/telescope.nvim"]
	path = nvim-scm/.config/nvim-scm/pack/vendor/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "nvim-scm/.config/nvim-scm/pack/vendor/start/plenary.nvim"]
	path = nvim-scm/.config/nvim-scm/pack/vendor/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvm/.nvm"]
	path = nvm/.config/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "nvim-scm/.config/nvim-scm/pack/vendor/start/conform.nvim"]
	path = nvim-scm/.config/nvim-scm/pack/vendor/start/conform.nvim
	url = https://github.com/stevearc/conform.nvim.git
[submodule "nvim-scm/.config/nvim-scm/pack/vendor/start/blink.cmp"]
	path = nvim-scm/.config/nvim-scm/pack/vendor/start/blink.cmp
	url = https://github.com/Saghen/blink.cmp.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = ssh://git@10.100.100.92/geert/nvim.git
