*
!/alacritty/
!/alacritty/**/*
!/efm-langserver/
!/efm-langserver/**/*
!/git/
!/git/**/*
!/todo/
!/todo/**/*
!/nvim/
!/nvim/**/*
!/zsh/
!/zsh/**/*
!/tmux/**/*
.DS_STORE
configstore
wireshark
nvim/plugin/packer_compiled.lua
zsh/.zsh_history
zsh/.zprezto
