*
!/alacritty/
!/alacritty/**/*
!/efm-langserver/
!/efm-langserver/**/*
!/git/
!/git/**/*
!/todo/
!/todo/**/*
!/nvim/
!/nvim/**/*
!/nvim-old/
!/nvim-old/**/*
!/transaction-parser/
!/transaction-parser/**/*
!/zsh/
!/zsh/**/*
!/tmux/**/*
.DS_STORE
configstore
wireshark
nvim/lua/.luarc.json
nvim/plugin/packer_compiled.lua
zsh/.zcompcache/
zsh/.zprezto
zsh/.zsh_history

